

  /*/////////////////////     GESTIONE COLORI    /////////////////////////*/


$color_celeste : #e3f2fd;
$color_dark : rgb(38, 36, 36);
$color_dark_light : rgb(63, 58, 58);;
$color_danger : rgb(222, 48, 48);
$transition : 400ms all ease-in-out;