

/*/////////////////////      MIXINS E EXTENDS    /////////////////////////*/


%list_style{
    list-style-position: inside; 
    display: inline-block; 
    text-align: left;
}


@mixin translateX($value){
    transform: translateX($value);
 }

